header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 60px;
}

.pinhole_header{
  font-family: Oswald;
  font-size: 28px;
  text-transform: uppercase;
}

.header_comps {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14;
  font-weight: bold;
  color: black;
  margin: 0px 10px;
  text-decoration: none;
  background-color: white;
}

.sign_up {
  border-radius: 25px;
  border: 2px solid black;
  padding: 5px 15px 5px 15px;
  width: 90px;
  height: 15px;
}

.header_comps:hover {
  color: #1890ff;
}