header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

header > li {
  display: inline-block;
  float: left;
  margin: 15px 30px 15px 60px;
}

header > li:last-child {
  float: right;
  margin: 25px 60px 25px 30px;
}

.pinhole_header{
  font-family: Oswald;
  font-size: 28px;
  text-transform: uppercase;
}

.active {
  display: inline-flex;
  float: left;
  text-decoration: none;
  align-items: center;
  align-content: center;
  color: black;
  padding: 0px 60px 0px 0px; 
}

.navbar {
  display: flex;
  flex-direction: row;
  padding-top: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.navbar a {
  text-decoration: none;
  color: black;
  padding-right: 60px;
}

.header_comps {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14;
  font-weight: bold;
  color: black;
  margin: 0px 10px;
  text-decoration: none;
}

.sign_up {
  border-radius: 25px;
  border: 2px solid black;
  padding: 5px 15px 5px 15px;
  width: 90px;
  height: 15px;
}

.header_comps:hover {
  color: #1890ff;
}
