.post-form-layout-parent {
  margin-top: 65px;
  position: relative;
  background-color: rgb(247, 248, 250);
}

.post-form-layout-child {
  display: block;
  position: relative;
}

.post-form-layout-header {
  display: block;
  position: sticky;
  background-color: white;;
  height: 50px;
  padding-top: 20px;
  padding-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 24px;
}



.post-form-layout-photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(247, 248, 250);
  // min-width: calc(0.25 * 75vh);
  // border: 1px solid black;
  // min-height: 600px;
  // width: 75vw;
  // height: 50vh;
}

.post-form-layout-left {
  display: inline-flex;
  flex-direction: column;
  // position: absolute;
  // border: 2px solid black;
  // width: 67%;
  // height: 100vh;
  background-color: rgb(247, 248, 250);
  // overflow: hidden;
}

.photo-form-layout-add {
  display: flex;
  align-items: center;
  width: 91%;
  height: 20px;
  padding: 20px;
  background-color: rgb(247, 248, 250);
  padding-left: 45px;
  padding-top: 15px;
}

input[type=file] {
  display: none;
  cursor: pointer;
}

.photo-form-layout-add label{
  display: inline;
  border-radius: 25px;
  border: 1px solid darkgray;
  background-color: white;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  color: #1890ff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: 15px;
}

.photo-form-layout-add label:hover{
  cursor: pointer;
}


.fa-plus, .fa-trash-alt {
  color: black;
  padding-right: 5px;
}
.post-form-layout-grid {
  display: block;
  min-width: calc(.50 * 70vw);
  width: calc(0.75 * 88vw);
  height: 92vh;
  background-color: rgb(247, 248, 250);
  margin-left: 60px;
  margin-right: 5px;
  overflow-y: scroll;
}

.post-form-layout-grid-container {
  display: flex;
  flex-wrap: wrap;
}

.post-form-layout-grid-container > ul {
  display: flex;
  flex-flow: row wrap;
}
.post-form-layout-grid-container-photos > li{
  padding: 20px;
}

.selected {
   border: 2px solid #2867e5;
}

.post-form-layout-grid-container-photos > li > img{
  max-height: 300px;
  max-width: 300px;
  padding: 3px;
}

.post-form-layout-grid-container-photos > li > img:hover {
  cursor: pointer;
  filter: brightness(90%);
  opacity: 0.9;
  border: 2px solid #2867e5;
}

.post-form-layout-right {
  display: block;
  position: relative;
  float: right;
  margin-right: 50px;
  margin-top: 15px;
  width: 400px;
  background: white;
  border-top: 1px solid darkgray;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  height: 96vh;
}